body{
    text-align: center;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-size: 45px;
    font-family: cursive;

}

h2{
    color:whitesmoke;
}

p{
    color:whitesmoke;
    font-size: 20px;
}

.bg-1{
    background-image: url(assets/IMG_0296.jpg)
}

h4{
    font-size: 17px;
    color:indigo;
}

h5{
color: whitesmoke;
font-size: 25px;
}